.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-prev, .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
}